html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(160deg, #09988b 0%, #9b62c7 100%);
}

body {
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 60%;
    min-height: 60%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 23%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 1%;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 60%;
    margin-bottom: 10px;
    /*padding-left: 5%;*/
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    padding-left: 5%;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    margin-right: 5%;
    cursor: pointer;
}

.fa {
    pointer-events: none;
}

.fa-star {
    color: white;
    padding-left: 5px;
}

.color-star{
    color: black;
}

.moves {
    padding-left: 5%;
}

#timer {
    padding-left: 15%;
}

/*
 * Modal
 */
#modal {
    display: none;
}

#modal-content {
    display: block;
    background-color: #02ccba;
    border: 1px solid #879e9d;
    box-shadow: 0px 10px 40px 17px rgba(88, 64, 95, 0.5)
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}

.msg {
    margin: auto;
}

#msg-congrats {
    font-size: 2em;
}

#close {
    float: right;
    top: 0;
    right: 0;
    font-size: 1.5em;
    cursor: pointer;
}

#restart-btn {
    background-color: #4ee6e1;
    border: .5px solid #459630;
    cursor: pointer;
}

#stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

#stars li {
    list-style: none;
    display: inline-block;
}

.msg-star {
    padding-left: 5px;
}
/*
 * Animation
 */

.animate-mismatch {
    transform: rotateY(180deg);
    transition: ease-in .8s;
}

.animate-match {
    animation: shake 0.5s ease-in;
}

/*
 * keyframes shake from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_shake
 */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}